In [12]:
#List
courses = ['History', 'Maths', 'Statistics', 'Chemistry']
print(courses)
print(courses[2])
#To get the last item
print(courses[-1])
print(courses[0:2])
print(courses[2:])

['History', 'Maths', 'Statistics', 'Chemistry']
Statistics
Chemistry
['History', 'Maths']
['Statistics', 'Chemistry']

In [13]:
courses.append('Art')
print(courses)

['History', 'Maths', 'Statistics', 'Chemistry', 'Art']

In [14]:
courses.insert(1, 'Biology')

In [18]:
print(courses)

['History', 'Biology', 'Maths', 'Statistics', 'Chemistry', 'Art']
Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

None

In [24]:
courses2 = ['English', 'Operations']
courses.extend( courses2)
print(courses)

['History', 'Biology', 'Maths', 'Statistics', 'Chemistry', 'Art', 'English', 'Operations']

In [25]:
courses.remove('Operations')
courses.remove('English')
print(courses)

['History', 'Biology', 'Maths', 'Statistics', 'Chemistry', 'Art']

In [26]:
courses.pop()
print(courses)

['History', 'Biology', 'Maths', 'Statistics', 'Chemistry']

In [31]:
courses.reverse()
print(courses)

['Chemistry', 'Statistics', 'Maths', 'Biology', 'History']

In [32]:
#To sort
courses.sort()
print(courses)

['Biology', 'Chemistry', 'History', 'Maths', 'Statistics']

In [38]:
numbers = [3,5,2,6,8,6,3]
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)
#This only returns a sorted version
sourtedCourses = sorted(courses)
print(sourtedCourses)

[2, 3, 3, 5, 6, 6, 8]
[8, 6, 6, 5, 3, 3, 2]
['Biology', 'Chemistry', 'History', 'Maths', 'Statistics']

In [39]:
#Get index of value in the list
print(courses.index('Maths'))

3

In [42]:
print('Art' in courses)
print('Maths' in courses)

False
True

In [43]:
for item in courses:
    print(item)

Biology
Chemistry
History
Maths
Statistics

In [46]:
# To get index and value
for course in enumerate(courses):
    print(course)

(0, 'Biology')
(1, 'Chemistry')
(2, 'History')
(3, 'Maths')
(4, 'Statistics')

In [48]:
for index, course in enumerate(courses, start=1):
    print(index, course)

1 Biology
2 Chemistry
3 History
4 Maths
5 Statistics

In [53]:
course_str = ', '.join(courses)
print(course_str)
course_str = ' - '.join(courses)
print(course_str)

Biology, Chemistry, History, Maths, Statistics
Biology - Chemistry - History - Maths - Statistics

In [54]:
new_list = course_str.split(' - ')
print(new_list)

['Biology', 'Chemistry', 'History', 'Maths', 'Statistics']

In [56]:
#Tuples. This cannot be modified. They are immutable
#Starting with a list example
courses2 = courses
print(courses)
print(courses2)
courses[0] = 'Commerce'
print(courses)
print(courses2)

['Biology', 'Chemistry', 'History', 'Maths', 'Statistics']
['Biology', 'Chemistry', 'History', 'Maths', 'Statistics']
['Commerce', 'Chemistry', 'History', 'Maths', 'Statistics']
['Commerce', 'Chemistry', 'History', 'Maths', 'Statistics']

In [60]:
# Creating Dictionary
courseT = ('Biology', 'Chemistry', 'History', 'Maths', 'Statistics')
courseT2 = courseT
print(courseT)
print(courseT2)
courseT[0] = 'Commerce'
print(courseT)
print(courseT2)

('Biology', 'Chemistry', 'History', 'Maths', 'Statistics')
('Biology', 'Chemistry', 'History', 'Maths', 'Statistics')

TypeError: 'tuple' object does not support item assignment

In [63]:
numbs = [1,5,6,3,6]
print(min(numbs))
print(max(numbs))
print(sum(numbs))

1
6
21

In [76]:
# To get the difference between SET
# SET.. No duplicate and are unordered
#Use to test the relationships between SETS
csCourse = {'Physics', 'History', 'Maths', 'Statistics'}
gnCourse = {'Commerce', 'Physics', 'History', 'Maths', 'Statistics'}
print(csCourse.intersection(gnCourse))
print(csCourse.difference(gnCourse))

{'Statistics', 'History', 'Maths', 'Physics'}
set()